<p><strong>Joy Division</strong></p>
<h1>Unknown Pleasures</h1>

<img class="albumimage" src="https://i.discogs.com/rbx7N9QSy0dOs8KItjF3SI4f9QAyC3IMmHlrGXkdCeQ/rs:fit/g:sm/q:90/h:500/w:500/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTM0NDMx/MDUtMTMzMDU4MzM0/OS5qcGVn.jpeg" alt="" />

<p><small>1337 plays</small></p>

<ol>
	<li>Disorder</li>
	<li>Day of the Lords</li>
	<li>Candidate</li>
	<li>Insight</li>
	<li>New Dawn Fades</li>
	<li>She's Lost Control</li>
	<li>Shadowplay</li>
	<li>Wilderness</li>
	<li>Interzone</li>
	<li>I Remember Nothing</li>
</ol>
