<h1>Hacienda prototypes</h1>

<h2>Available prototypes</h2>

<ul>
	<li><a href="/prototypes/album/">Album view</a></li>
	<li><a href="/prototypes/artist/">Artist view</a></li>
	<li><a href="/prototypes/login/">Login view</a></li>
	<li><a href="/prototypes/profile/">User Profile view</a></li>
	<li><a href="/prototypes/register/">Registration view</a></li>
</ul>	